.fa,
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }
  
.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: .3em; }
  
.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: .3em; }
  
.fa-images:before {
 content: "\f302"; } 
 
.fa-youtube:before {
 content: "\f167"; }
  
.fa-vk:before {
 content: "\f189"; }
  
.fa-instagram:before {
 content: "\f16d"; }
 
.fa-angle-left:before {
  content: "\f104"; }

.fa-angle-right:before {
  content: "\f105"; }
  
.fa-envelope:before {
  content: "\f0e0"; }
  
.fa-map-marker-alt:before {
  content: "\f3c5"; }
  
.fa-phone:before {
  content: "\f095"; }
  
 .fa-chevron-circle-left:before {
  content: "\f137"; }

.fa-chevron-circle-right:before {
  content: "\f138"; }
  
 .fa-video:before {
  content: "\f03d"; }
  
.fa-microphone-alt:before {
  content: "\f3c9"; }
  
  .fa-guitar:before {
  content: "\f7a6"; }
  
  .fa-coins:before {
  content: "\f51e"; }
  
  .fa-user-tie:before {
  content: "\f508"; }
  
  .fa-search-dollar:before {
  content: "\f688"; }

  .fa-thumbs-up:before {
    content: "\f164"; }
  
  @font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("https://www.coverzaband.ru/webfonts/fa-brands-400.eot");
  src: url("https://www.coverzaband.ru/webfonts/fa-brands-400.eot?") format("embedded-opentype"), url("https://www.coverzaband.ru/webfonts/fa-brands-400.woff2") format("woff2"), url("https://www.coverzaband.ru/webfonts/fa-brands-400.woff") format("woff"), url("https://www.coverzaband.ru/webfonts/fa-brands-400.ttf") format("truetype"), url("https://www.coverzaband.ru/webfonts/fa-brands-400.svg") format("svg"); }

.fab {
  font-family: 'Font Awesome 5 Brands'; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("https://www.coverzaband.ru/webfonts/fa-regular-400.eot");
  src: url("https://www.coverzaband.ru/webfonts/fa-regular-400.eot?") format("embedded-opentype"), url("https://www.coverzaband.ru/webfonts/fa-regular-400.woff2") format("woff2"), url("https://www.coverzaband.ru/webfonts/fa-regular-400.woff") format("woff"), url("https://www.coverzaband.ru/webfonts/fa-regular-400.ttf") format("truetype"), url("https://www.coverzaband.ru/webfonts/fa-regular-400.svg") format("svg"); }

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("https://www.coverzaband.ru/webfonts/fa-solid-900.eot");
  src: url("https://www.coverzaband.ru/webfonts/fa-solid-900.eot?") format("embedded-opentype"), url("https://www.coverzaband.ru/webfonts/fa-solid-900.woff2") format("woff2"), url("https://www.coverzaband.ru/webfonts/fa-solid-900.woff") format("woff"), url("https://www.coverzaband.ru/webfonts/fa-solid-900.ttf") format("truetype"), url("https://www.coverzaband.ru/webfonts/fa-solid-900.svg") format("svg"); }

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }
